  <%= form_for(@message, remote: true) do |form| %>
    <%= form.hidden_field :room_id, value: @room.id %>
      <div id="messageController" class="flex" data-current-user="<%= current_user.id %>">
        <%= form.text_field :content, placeholder: " 輸入訊息", class:'messageinput' %>
        <%= form.button :submit, :name => 'commit', class: "messagesubmit" do %>
          <i class="fas fa-paper-plane"></i>
        <% end %>
      </div>
  <% end %>
