<div class="flex w-full">
    <% if message.user != current_user && message.user.cover.attached? %>
    <div>
        <%= image_tag url_for(message.user.cover) , class: 'headimg' %>
    </div>
    <% end %>
    <div class="<%= 'right' if message.user == current_user %>">
        <span id="newmessage" class="p-1.5 bg-yellow-400 rounded-2xl m-2 p-1 inline-block text-2xl <%= 'me' if message.user == current_user %>"><%= message.content %><br><span class='text-sm'><%= "#{message.user.name}於#{message.created_at&.strftime('%m月%d日 %H:%M')}" %></span></span>
    </div>
</div>

