<section class='form-container'>
  <div class='form-box'>
    <h2 class="form-title">編輯會員資料</h2>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "信箱" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full", class:"input" %>
    </div>
    
    <div class="field">
    <%= f.label :tel, "電話" %><br />
    <%= f.telephone_field :tel, autofocus: true, class:"input" %>
    </div>
    
    <div class="field">
    <%= f.label :bank_account, "銀行帳戶"%><br />
    <%= f.text_field :bank_account, autofocus: true, class:"input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
    <%= f.label :password, "密碼" %> <br>
    <%= f.password_field :password, autocomplete: "new-password", class:"input", placeholder:"至少6碼"%>
    <% if @minimum_password_length %><br>
      <small>無須更改密碼時，此處請留空</small>
    <% end %>
    </div>

    <div class="field">
    <%= f.label :password_confirmation, "確認密碼"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
    </div>

    <div class="field">
    <%= f.label :current_password, "舊密碼" %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"input" %><br>
      <small>為了成功修改資料，請提供舊密碼</small>
    </div>

    <div class="actions flex justify-center">
    <%= f.submit "更新", class: "btn btn-default" %>
    </div>
    <% end %>

    <%= link_to "返回首頁", root_path, class:"link" %>
    </div>
</section>


