<section class='form-container'>
  <div class='form-box'>
    <h2 class='form-title'>註冊</h2>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      
    <div class="field mt-2">
      <%= f.label :email, "信箱" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input"  %>
    </div>

    <div class="field">
      <%= f.label :name, "姓名"%><br />
      <%= f.text_field :name, autofocus: true, class:"input" %>
    </div>
    
    <div class="field">
      <%= f.label :gender, "性別"%><br />
      <%= f.radio_button(:gender, "male") %><span> 男 </span>
      <%= f.radio_button(:gender, "female") %><span> 女 </span>
    </div>

    <div class="field">
      <%= f.label :age, "年齡"%><br />
      <%= f.number_field :age, autofocus: true, class:"input" %>
    </div>

    <div class="field">
      <%= f.label :tel, "電話"%><br />
      <%= f.telephone_field :tel, autofocus: true, class:"input" %>
    </div>

    <div class="field">
      <%= f.label :bank_account, "銀行帳戶"%><br />
      <%= f.text_field :bank_account, autofocus: true, class:"input" %>
    </div>

    <div class="field">
      <%= f.label :password, "密碼"%>
      <% if @minimum_password_length %>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"input", placeholder:"至少6碼" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "確認密碼"%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
      </div>
      <label class="field">同意條款</label>
<div class="all-container">
  <div class="container">
    <div class="tit">腿排使用者隱私權協定:</div>
    <br>
    一、腿排的陳述與保證<br>
    腿排絕對尊重使用者的隱私和資訊，並會對此嚴密保護。我們對用戶做出如下解釋和說明：<br>
    <div class="tx">
      1、資訊手機目的<br>
      腿排收集使用者資料僅限用於協助您的購買消費、服務記錄、累計金額、資訊傳送等。<br>
      <br>
      2、Cookies<br>
      為了更好地為使用者服務，腿排可能會使用cookies來儲存並在某些時刻追蹤使用者的相關資料。上述使用僅限於：估算流量人數、統計用戶偏好等商業、市場分析或學術用途。Cookies可供協力廠商使用，例如廣告服務等需要可辨識資料、資料等作為評估指標和資料，這些資料僅供分析使用。<br>
      <br>
      3、關聯網站<br>
      我們所提供的其它網站連結，可能各有其不同的聲明或使用規則等，請務必自行謹慎瞭解，本網站並不保護使用者於該等網站中的隱私權。<br>
      <br>
      4、本聲明的變更<br>
      本聲明將保留得以隨時增刪修飾本隱私權聲明之權利，任何增刪修飾後之聲明，應以本聲明時間為即時生效日。<br>
      <br>
    </div>
    二、用戶帳號使用與保管<br>
    <br>
    <div class="tx">
      1、根據必備條款的約定，腿排有權審查用戶註冊所提供的身份資訊是否真實、有效，並應積極地採取技術與管理等合理措施保障用戶帳號的安全、有效；使用者有義務妥善保管其帳號及密碼，並正確、安全地使用其帳號及密碼。任何一方未盡上述義務導致帳號密碼遺失、帳號被盜等情形而給用戶和他人的民事權利造成損害的，應當承擔法律責任。<br>
      <br> 
      2、用戶對登錄後所持帳號產生的行為依法享有權利和承擔責任。<br>
      <br> 
      3、使用者發現其帳號或密碼被他人非法使用或有使用異常情況的，應及時通知腿排，腿排應當要求用戶提供並核實與其註冊身份資訊相一致的個人有效身份資訊經驗證後，得採取相關措施暫停該帳號的登錄和使用。<br>
      <br> 
      4、腿排違反3、款項的約定，未及時採取措施暫停用戶帳號的登錄和使用，因此而給用戶造成損失，應當承擔其相應的法律責任。<br>
      <br> 
      5、用戶沒有提供其個人有效身份證件或者用戶提供的個人有效身份證件與所註冊的身份資訊不一致的，腿排有權拒絕用戶上述請求。<br>
      <br> 
      6、用戶為了維護其合法權益，向腿排提供與所註冊的身份資訊相一致的個人有效身份資訊時，腿排應當為用戶提供帳號註冊人證明、原始註冊資訊等必要的協助和支援，並根據需要向有關行政機關和司法機關提供相關證據資訊資料。<br>
      <br>
    </div>
    三、服務的中止與終止<br> 
      <br>
    <div class="tx">
      1、使用者有發佈違法資訊、嚴重違背社會公德、以及其他違反法律禁止性規定的行為，腿排應當立即終止對使用者提供服務。<br>
      <br> 
      2、使用者在接受腿排服務時實施不正當行為的，腿排有權終止對使用者提供服務。該不正當行為的具體情形應當在本協議中有明確約定或屬於腿排事先明確告知的應被終止服務的禁止行為，否則，腿排不得終止對使用者提供服務。<br>
      <br>
      3、使用者提供虛假註冊身份資訊，或實施違反本協議的行為，腿排有權中止對使用者提供全部或部分服務；腿排採取中止措施應當通知用戶並告知中止期間，中止期間應該是合理的，中止期間屆滿腿排應當及時恢復對使用者的服務。<br>
      <br> 
      4、腿排根據本條約定中止或終止對使用者提供部分或全部服務的，腿排應負舉證責任。<br>
      <br> 
    </div>
    四、使用者資訊保護<br>
      <br> 
    <div class="tx">
      1、腿排要求用戶提供與其個人身份有關的資訊資料時，應當事先以明確而易見的方式向使用者公開其隱私權保護政策和個人資訊利用政策，並採取必要措施保護使用者資訊。<br>
      <br> 
      2、未經用戶許可腿排不得向任何協力廠商提供、公開或共用使用者註冊資料中的姓名、個人有效身份證件號碼、聯繫方式、家庭住址等個人身份資訊，但下列情況除外：用戶或用戶監護人授權腿排披露的、有關法律要求腿排披露的、 司法機關或行政機關基於法定程式要求腿排提供的、腿排為了維護自己合法權益而向用戶提起訴訟或者仲裁時、應用戶監護人的合法要求而提供使用者個人身份資訊時。<br>
      <br>
    </div>
      <div class="foot">腿排有限公司</div>
  </div>
  <div class="box">
    <input type="radio"  value="已詳細閱讀"><label class="btnn">已詳細閱讀</label>
  </div>
</div>
    <div class="actions flex justify-center">
      <%= f.submit "提交", class: "btn btn-default" %>
    </div>
    <% end %>
     </div>
</section>




