<%= form_for(@task) do |f| %>

  <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field pt-6">
    <%= f.label "任務簡介" %>
    <%= f.text_field :brief_description, class: "input" %>
    <small>不能空白</small>
  </div>

  <div class="field pt-6">
    <%= f.label "內容描述" %>
    <%= f.text_area :description, cols: 20, rows: 4, placeholder: '請說明詳細內容', class: "input task-form-textarea" %>
    <small>不能空白</small>
  </div>
  <div class="city-selector-set mb-8">
      <label for="district">任務所在區</label>
      <select class="county" id="county" name="city"></select>
      <select class="district" id="district"></select>
      <small class="city-selector-error">請選擇區域</small>
  </div>

  <div class="field hidden">
    <%= f.label "城市" %>
    <%= f.text_field :address_city, placeholder: '目前只開放台北市', class: "input" %>
  </div>

  <div class="field hidden">
    <%= f.label "區" %>
    <%= f.text_field :address_district, placeholder: '請填入區', class: "input" %>
  </div>

  <div class="field">
    <%= f.label "街道" %>
    <%= f.text_field :address_street, placeholder: '街道完整訊息', class: "input" %>
    <small>不能空白</small>
  </div>

  <div class="field pt-6">
    <%= f.label "店名/其他訊息" %>
    <%= f.text_field :store_name, class: "input" %>
    <small>不能空白</small>
  </div>

  <div class="field task-input-special pt-6">
    <%= f.label "任務起始時間" %><span class="start-message">(需距離現在至少3小時)</span>
    <br>
    <%= f.datetime_select :task_at %>
  </div>

  <div class="field task-input-special pt-6">
    <%= f.label "任務結束時間" %><span class="end-message">(與起始時間相隔至少一小時)</span>
    <br>
    <%= f.datetime_select :task_end %>
  </div>

  <div class="field task-input-special pt-6 mt-4">
    <%= f.label "酬勞(一小時200元) & 代墊金額：" %>
    <br>
    <%= f.number_field :reward, min: 200 %>
    <%= '&' %>
    <%= f.number_field :behalf, min: 0 %>
    <small class="reward-message">Error</small>
  </div>

  <div class="field pt-6">
    <%= f.label "備註欄" %>
    <%= f.text_field :remarks, class: "input" %>
  </div>

  <div class="field pt-6">
    <%= f.hidden_field :merchant_order_number, :value => Time.now.to_i.to_s %>
  </div>

  <div class="flex justify-center">
    <%= button_to "新增", {action: "create"}, {class: 'btn btn-default'} %>
  </div>
<% end %>