<div class="flex search-container">
  <div class="m-auto search-wrap">
    <div class="search-box">
      <%= form_tag tasks_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "搜尋", class:"search-input" %>
        <%= submit_tag "送出", name: nil, class:"search-btn" %>
      <% end %>
    </div>
  </div>
</div>
<div class="flex">
  <div class="pusher"></div>
  <main class="container px-7 mx-auto lg:w-11/12 3xl:w-10/12">
    <section>
      <div>
        <hr />
        <div class="task-list">
        <% @tasks.each do |task| %>
          <div class="task-item">
            <div class="task-img-box">
              <div class="task-img"><p>Taipei City</p></div>
            </div>
            <div class="task-details">
              <h3 class="task-title"><%= task.brief_description %></h3>
              <p class="task-store"><span><i class="fas fa-store fa-fw"></i>：</span><%= task.store_name %></p>
              <p class="task-place"><span><i class="fas fa-map-marker-alt fa-fw"></i>：</span><%= task.address %></p>
              <p class="task-start">
                <span><i class="fas fa-hourglass-start fa-fw"></i>：</span>
                <%= task.task_at&.strftime('%Y-%m-%d %H:%M:%S') %>
              </p>
              <p class="task-end">
                <span><i class="fas fa-hourglass-end fa-fw"></i>：</span>
                <%= task.task_end&.strftime('%Y-%m-%d %H:%M:%S') %>
              </p>
              <p class="task-pay"><span><i class="fas fa-coins fa-fw"></i>：</span><%= task.reward %></p>
              <p class="task-place"><span><i class="fas fa-user fa-fw"></i>：</span><%= task.user.name %></p>
            </div>
            <% if employer_of task %>
            <div class="task-edit">
              <%= link_to edit_task_path(task) do %>
                <i class="far fa-edit"></i>
              <% end %>
              <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
            <% end %>
            <div class="py-2 px-4">
              <div class="bg-yellow-500 text-white font-bold py-2 px-4 rounded task-state" data-state="<%= task.state %>">
              </div>
            </div>
            <div class="task-footer">
              <% if employer_of task %>
              <div class="task-unpaid">
                <% if task.pending? %>
                  <%= link_to cashflow_to_newebpay_path(reward: task.reward, behalf: task.behalf,
                  order_number: task.order.merchant_order_number) do %>
                    <i class="fas fa-credit-card"></i> Pay
                  <% end %>
                <% end %>
              </div>
              <% else %>
              <div class="task-security-deposit">
                <% if employer_confirmed task %>
                  <%= link_to cashflow_to_newebpay_path(reward: (task.reward * 0.2).to_i, behalf: task.behalf,
                  order_number: task.order.merchant_order_number + "B") do %>
                    <i class="fas fa-handshake"></i> 支付押金
                  <% end %>
                <% end %>
              </div>
              <% end %>
              <div class="task-more-btn">
                <%= link_to task do %>
                  點我看任務詳情<i class="fas fa-arrow-right"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </section>
  </main>
</div>