<main class="container px-7 mx-auto">
  <section>
    <div>
      <hr />
      <div class="task-list">
      <% @tasks.each do |task| %>
        <div class="task-item">
          <div class="task-img-box">
            <div class="task-img"><p>Taipei City</p></div>
          </div>
          <div class="task-details">
            <h3 class="task-title"><%= task.brief_description %></h3>
            <p class="task-store"><span><i class="fas fa-store"></i>：</span><%= task.store_name %></p>
            <p class="task-pay"><span><i class="fas fa-coins"></i>：</span><%= task.reward %></p>
            <p class="task-start">
              <span><i class="fas fa-hourglass-start"></i>：</span>
              <%= task.task_at&.strftime('%Y-%m-%d %H:%M:%S') %>
            </p>
            <p class="task-end">
              <span><i class="fas fa-hourglass-end"></i>：</span>
              <%= task.task_end&.strftime('%Y-%m-%d %H:%M:%S') %>
            </p>
            <p class="task-place"><span><i class="fas fa-map-marker-alt"></i>：</span><%= task.address %></p>
          </div>
          <% if employer_of task %>
          <div class="task-edit">
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_task_path(task) %>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
          <div class="py-2 px-4">
            <div class="bg-yellow-500 text-white font-bold py-2 px-4 rounded">
              狀態：<%= task.state %>
            </div>
          </div>
          <div class="task-footer">
            <% if employer_of task %>
            <div class="task-unpaid">
              <% if task.pending? %><%= link_to '<i class="fas fa-credit-card"></i> Pay'.html_safe, controller:
              'cashflow', action: 'to_newebpay', {reward:
              task.reward, behalf: task.behalf, order_number:
              task.order.merchant_order_number} %>
              <% end %>
            </div>
            <% else %>
            <div class="task-security-deposit">
              <% if employer_confirmed task %><%= link_to '<i class="fas fa-handshake"></i> 支付押金'.html_safe,
             to_newebpay_cashflow_url(reward: (task.reward * 0.2).to_i, behalf: task.behalf,
              order_number: task.order.merchant_order_number + "B") %>
              <% end %>
            </div>
            <% end %>
            <div class="task-more-btn">
              <%= link_to '點我看任務詳情<i class="fas fa-arrow-right"></i>'.html_safe, task%>
            </div>
          
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </section>
</main>