<aside class="fixed z-20">
  <!-- computer version -->
  <section id="side-navigation" class="hidden lg:block flex flex-col mt-6 h-auto items-center p-3">
    <div class="sidebar flex items-center justify-center flex-col hover:bg-gray-200 w-full py-4 px-1">
      <%= link_to new_task_path, class: "sidebar-link" do %>
        <i class="far fa-plus-square"></i>新增任務
      <% end %>
    </div>
    <div class="sidebar flex items-center justify-center flex-col hover:bg-gray-200 w-full py-4 px-1">
      <%= link_to mytasks_tasks_path, class: "sidebar-link" do %>
        <i class="fas fa-tasks"></i>您發佈的任務
      <% end %>
    </div>
    <div class="sidebar flex items-center justify-center flex-col hover:bg-gray-200 w-full py-4 px-1">
      <%= link_to myworks_tasks_path, class: "sidebar-link" do %>
        <i class="fas fa-shoe-prints"></i>您接下的任務
      <% end %>
    </div>
    <div class="sidebar flex items-center justify-center flex-col hover:bg-gray-200 w-full py-4 px-1">
      <%= link_to rooms_path, class: "sidebar-link" do %>
        <i class="fas fa-comments"></i>聊天室
      <% end %>
    </div>
  </section>

  <!-- mobile version -->
	<section id="bottom-navigation" class="md:hidden block fixed inset-x-0 bottom-0 z-10 bg-white">
		<div id="tabs" class="flex justify-between">
			<div class="sidebar w-full hover:bg-gray-200 justify-center inline-block text-center pt-2 pb-1">
        <%= link_to new_task_path, class: "sidebar-link" do %>
          <i class="far fa-plus-square"></i>新增任務
        <% end %>
			</div>
			<div class="sidebar w-full hover:bg-gray-200 justify-center inline-block text-center pt-2 pb-1">
				<%= link_to mytasks_tasks_path, class: "sidebar-link" do %>
          <i class="fas fa-tasks"></i>您發佈的任務
        <% end %>
			</div>
			<div class="sidebar w-full hover:bg-gray-200 justify-center inline-block text-center pt-2 pb-1">
        <%= link_to myworks_tasks_path, class: "sidebar-link" do %>
          <i class="fas fa-shoe-prints"></i>您接下的任務
        <% end %>
			</div>
			<div class="sidebar w-full hover:bg-gray-200 justify-center inline-block text-center pt-2 pb-1">
				<%= link_to rooms_path, class: "sidebar-link" do %>
          <i class="fas fa-comments"></i>聊天室
        <% end %>
			</div>
		</div>
	</section>
</aside>