<div class="flex flex-col w-11/12">
  <div class="border-2 w-11/12 m-auto text-xl">管理員:<%= current_user.name %>。<br>
  請選擇月份匯款單建立清單。
  <%= form_tag admin_tasks_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "輸入月份數字即可", class:"search-input" %>
    <%= submit_tag "月份:送出", name: nil, class:"search-btn" %>
  <% end %>
  <%= link_to '下載表單', admin_tasks_path(format: :xlsx), class:"bg-yellow-500" %>
  </div>
  <div>
    <table class="m-auto border-2 w-11/12">
      <thead class="border-2">
        <tr>
          <td class="p-2 border-2 w-3/12">支付給</td>
          <td class="p-2 border-2 w-3/12">支付金額</td>
          <td class="p-2 border-2 w-3/12">支付帳號</td>
          <td class="p-2 border-2 w-3/12">任務完成時間</td>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
        <tr>
          <td class="p-2 border-2"><%= bill.user.name %></td>
          <td class="p-2 border-2"><%= bill.need_pay %></td>
          <td class="p-2 border-2"><%= bill.user.bank_account %></td>
          <td class="p-2 border-2"><%= bill.task.task_end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>
