<p id="notice"><%= notice %></p>

<div>
  <% @tasks.each do |task| %>
    <div class="mt-28">
      <h1>
        任務標題：<%= task.brief_description %>
      </h1>
      <p>
        任務內容：<%= task.description %>
      </p>
      <p>
        任務地點：<%= task.address %>
      </p>
      <p>
        店名/地點：<%= task.store_name %>
      </p>
      <p>
        酬勞：<%= task.reward %>
      </p>
      <p>
        起始時間：<%= task.task_at.to_s(:db) %>
      </p>
      <p>
        結束時間：<%= task.task_end.to_formatted_s(:month_and_year) %></p>
      <% if author_of task %>
        <div>
          <%= link_to 'Edit', edit_task_path(task) %>
        </div>
        <div>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
          目前此任務狀態：<%= task.state %>
          <br>
          <%= link_to 'Pay', "/cashflow/index" %>
        </div>
      <% else %>
        <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <%= link_to '應徵', task %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
