<p id="notice"><%= notice %></p>

<div class="flex">
  <div class="m-auto">
    <%= link_to '新增任務', new_task_path, class:"task-new link-spec" %>
  </div>
  <div class="m-auto">
    <%= link_to '您發布的', lists_path, class:"task-new link-spec" %>
  </div>
  <div class="m-auto">
    <%= link_to '您接下的', works_path, class:"task-new link-spec" %>
  </div>
  <div class="m-auto">
    <%= link_to '聊天室', rooms_path, class:"task-new link-spec" %>
  </div>
</div>

<section class="task-container">
  <div class="task-row">
    <div class="task-title">
      <h2>任務列表清單</h2>
      <select name="" id="">
        <option value="">選擇排序方式</option>
        <option value="1">任務地點</option>
        <option value="2">任務時間</option>
      </select>
    </div>
    <hr>
    <% @tasks.each do |task| %>
    <div class="task-list">
      <h3 class="task-item-title">
        <a href="#"><%= task.brief_description %></a>
      </h3>
      <div class="task-inf">
        <p><span class="inf-title">店名:</span><%= task.store_name %></p>
        <p><span class="inf-title">酬勞:</span><%= task.reward %></p>
        <p>
          <span class="inf-title">任務開始時間:</span><%= task.task_at.to_s(:db)
          %>
        </p>
        <p>
          <span class="inf-title">任務結束時間:</span><%=
          task.task_end.to_formatted_s(:month_and_year) %>
        </p>
        <p><span class="inf-title">任務地點:</span><%= task.address %></p>
      </div>
      <div class="task-desc">
        <p>
          <span class="inf-title">任務內容:</span><br />
          <%= task.description %>
        </p>
      </div>
      <% if employer_of task %>
        <div class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
          目前此任務狀態：<%= task.state %>
          <br>
          <% if not employer_paid task %>
          <%= link_to 'Pay', controller: 'cashflow', action: 'to_newebpay',for_newebpay: {reward: task.reward, behalf: task.behalf, order_number: task.order.merchant_order_number} %>
          <% end %>
        </div>
        <div class="text-right mt-2 pr-3">
          <%= link_to '點我看任務詳情 →', task, class: "link-spec" %>
        </div>
        <div class="text-right mt-2 pr-3">
          <%= link_to '刪除此任務 x', task, class: "link-spec", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% else %>
        <div class="text-right mt-2 pr-3">
          <%= link_to '點我看任務詳情 →', task, class: "link-spec" %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</section>

<br />

