<p id="notice"><%= notice %></p>
<div class="flex">
  <div class="m-auto">
    <%= link_to '新增任務', new_task_path, class:"task-new link-spec" %>
  </div>
  <div class="m-auto">
    <%= link_to '您發布的', lists_path, class:"task-new link-spec" %>
  </div>
  <div class="m-auto">
    <%= link_to '您接下的', works_path, class:"task-new link-spec" %>
  </div>
  <div class="m-auto">
    <%= link_to '聊天室', rooms_path, class:"task-new link-spec" %>
  </div>
</div>
<main class="container px-7 mx-auto">
  <section>
    <div>
      <div>
        <h2>任務列表清單</h2>
        <select name="" id="">
          <option value="">選擇排序方式</option>
          <option value="1">任務地點</option>
          <option value="2">任務時間</option>
        </select>
      </div>
      <hr />
      <div class="task-list">
        <% @tasks.each do |task| %>
        <div class="task-item">
          <div class="task-img-box">
            <div class="task-img"><p>Taipei City</p></div>
          </div>
          <div class="task-details">
            <h3 class="task-title"><%= task.brief_description %></h3>
            <p class="task-store"><span><i class="fas fa-store"></i>店名:</span><%= task.store_name %></p>
            <p class="task-pay"><span><i class="fas fa-coins"></i>酬勞:</span><%= task.reward %></p>
            <p class="task-start">
              <span>開始時間:</span>
              <%= task.task_at&.strftime('%Y-%m-%d%H:%M:%S') %>
            </p>
            <p class="task-end">
              <span>結束時間:</span>
              <%= task.task_end&.strftime('%Y-%m-%d%H:%M:%S') %>
            </p>
            <p class="task-place"><span>地點:</span><%= task.address %></p>
          </div>
          <% if employer_of task %>
          <div class="task-edit">
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_task_path(task) %>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <div class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
          目前此任務狀態：<%= task.state %>
          <br>
          <div class="task-footer">
            <% if employer_of task %>
            <div class="task-unpaid">
               <% if task.pending? %><%= link_to '<i class="fas fa-credit-card"></i> Pay'.html_safe, controller:
              'cashflow', action: 'to_newebpay',for_newebpay: {reward:
              task.reward, behalf: task.behalf, order_number:
              task.order.merchant_order_number} %>
              <% end %>
            </div>
            <% else %>
            <div class="task-security-deposit">
              <% if employer_confirmed task %><%= link_to '<i class="fas fa-handshake"></i> 支付押金'.html_safe,
             to_newebpay_cashflow_url(reward: (task.reward * 0.2).to_i, behalf: task.behalf,
              order_number: task.order.merchant_order_number + "B") %>
              <% end %>
            </div>
            <% end %>
            <div class="task-more-btn">
              <%= link_to '點我看任務詳情<i class="fas fa-arrow-right"></i>'.html_safe, task%>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
