<div class="w-1/2 mx-auto text-2xl">
  <ul id="tabs" class="inline-flex w-full px-1 pt-2">
    <li class="flex px-4 py-2 -mb-px font-black text-yellow-600 border-b-4 border-yellow-900 rounded-t opacity-95"><a
        id="default-tab"><%= link_to '新增任務' , new_task_path %></a></li>
    <li id="tab-contents" class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95 "><%= link_to '發佈任務' , lists_path %></li>
    <li id="tab-contents" class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95 "><%= link_to '接下任務' , works_path  %></li>
    <li id="tab-contents" class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95 "><%= link_to '聊天室' , rooms_path %></li>
  </ul>
</div>


<section class="form-container task-form-container">
  <div class="form-box">
    <h1 class="form-title">新增任務</h1>

    <%= render 'form', task: @task %>
    <%= link_to "返回任務列表", tasks_path, class:"link" %>
  </div>

</section>

