<section class="task-show-container" id = "<%= "task_" + @task.id.to_s %>" data-employee-id="<%= @task.employee_id %>" data-employer-id="<%= @task.user_id %>" data-current-user="<%= current_user.id %>">
  <div class="task-show-row" data-controller="map">
    <div class="task-show-title">
      <h2 data-controller="store"><i class="fas fa-thumbtack"></i>任務詳情</h2>
      <h4 class="map-progress"></h4>
    </div>
    <div class="task-show-box">
      <div class="task-show-info">
        <p class="info-title">
          <strong>任務名稱：</strong><%= @task.brief_description %>
        </p>
        <p class="info-desc"><strong>任務內容：</strong><br /><%= @task.description %></p>
        <p><i class="fas fa-store fa-fw"></i>商店名：<%= @task.store_name %></p>
        <p><i class="fas fa-map-marker-alt fa-fw"></i>地址：<%= @task.address %></p>
        <p><i class="fas fa-hourglass-start fa-fw"></i>起始：<%= @task.task_at&.strftime('%Y-%m-%d %H:%M:%S') %></p>
        <p><i class="fas fa-hourglass-end fa-fw"></i>結束：<%= @task.task_end&.strftime('%Y-%m-%d %H:%M:%S') %></p>
        <p><i class="fas fa-coins fa-fw"></i>酬勞：<%= "$ #{@task.reward} NT" %></p>
        <p><i class="fas fa-hand-holding-usd fa-fw"></i>代墊金額：<%= "$ #{@task.behalf} NT" %></p>
        <p><i class="fas fa-comment-alt fa-fw"></i> <%= @task.remarks %></p>
        <div class="btn-box">
          <div class= "pt-4">
          <% if employer_of @task %>
            <%= link_to '編輯', edit_task_path(@task), class: "task-show-btn" %>
            <%= link_to 'qrcode', qrcode_task_path(@task), class: "task-show-btn" %>
          </div>
          <div>
          <% else %>
            <% if employee_of @task %>
            <div class="report-location">
              <select name="travelMode" id="travelMode">
                <option value="">選擇前往方式後回報</option>
                <option value="DRIVING">開車</option>
                <option value="WALKING">走路 </option>
                <option value="TRANSIT">大眾運輸</option>
                <option value="BICYCLING">腳踏車</option>
              </select>
              <%= button_tag type: 'submit', class: "report-btn task-show-btn", id: "report_location" do %>
                <i class="far fa-hand-point-down"></i>回報位置
              <% end %>
            </div>
            <% elsif not_employer_of(@task) && @task.employer_paid? %>
              <%= link_to '應徵', send_applicant_apply_email_task_url(applicant_id: current_user, employer_id: @task.user_id ,task_id: @task.id, task_tate: @task.state), class: "task-show-btn apply-btn" %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <div id="employee" class="task-show-map" data-lat="<%= @task.latitude %>" data-lng="<%= @task.longitude %>" data-store-target="output">
      </div>
      <h4 class="map-progress map-progress-mobile"></h4>
      <%= link_to '返回', tasks_path, class: "task-show-btn back-btn-mobile" %>
    </div>
    <%= link_to tasks_path, class: "back-btn" do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
</section>
