<p id="notice"><%= notice %></p>
<br>
<br>
<br>


<h1>任務單獨秀</h1>
<p>
  <strong>任務:</strong>
  <%= @task.brief_description %>
</p>

<p>
  <strong>任務內容:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>地址:</strong>
  <%= @task.address %>
</p>

<p>
  <strong>店名/位置:</strong>
  <%= @task.store_name %>
</p>

<p>
  <strong>酬勞:</strong>
  <%= "新台幣#{@task.reward}" %>
</p>

<p>
  <strong>代買費用:</strong>
  <%= "新台幣#{@task.behalf}" %>
</p>

請幫我留一個位置是放google map的

<p>
  <strong>起始:</strong>
  <%= @task.task_at %>
</p>

<p>
  <strong>結束:</strong>
  <%= @task.task_end %>
</p>

<p>
  <strong>備註:</strong>
  <%= @task.remarks %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

<%= link_to '應徵', "/cashflow/index" %>
