<header class="">
  <nav class="">
    <div class="">
      <%= link_to "Marketplace", root_path, class:"" %>
    </div>
    <div>
      <%= link_to 'Add Task', new_task_path, class: "" %>
    </div>
    <div class="">
      <button class="">
        <svg class="" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d=""/></svg>
      </button>
    </div>
    <div class="">
      <div class="">
        <% if user_signed_in? %>
          <%= link_to "Edit account", edit_user_registration_path, class: "" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class:"" %>
          <%= link_to "Sign Up", new_user_registration_path, class:"" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
