<% if user_signed_in? %>
  <li class="menu-item">
    <% if current_user.cover.url %>
      <%= link_to edit_user_registration_path, class: "menu-link" do %>
        <%= image_tag current_user.cover.url , class: 'user-icon' %>
        <span><%= current_user.name %></span>
      <% end %>
    <% else %>
      <%= link_to edit_user_registration_path, class: "menu-link relative -top-1" do %>
        <i class="fas fa-user-ninja text-3xl"></i>
        <%= current_user.name %>
      <% end %>
    <% end %>
  </li>
  <li class="menu-item">
    <%= link_to "登出", destroy_user_session_path, method: :delete, class:"menu-link" %>
  </li>
<% else %>
  <li class="menu-item">
    <%= link_to "登入", new_user_session_path, class:"menu-link" %>
  </li>
  <li class="menu-item">
    <%= link_to "註冊", new_user_registration_path, class:"menu-link" %>
  </li>
<% end %>
<li class="menu-item">
  <%= link_to '任務列', tasks_path, class:"menu-link" %>
</li>
<li class="menu-item">
  <%= link_to '關於我們', about_us_path, class:"menu-link" %>
</li>
<li class="menu-item">
  <%= link_to '常見問題', questions_path, class:"menu-link" %>
</li>
