<div class=" md:w-full h-96 flex">
  <div class="list w-1/4 bg-red-300 h-full">hi</div>
  <div class="list w-1/4 bg-yellow-500 h-full">hi
  <%= render 'form' %> <br>
  <div>
    <% @rooms.each do |room| %> 
    <h3><%= link_to room.name, room_path(room) %></h3>
    <% end %>
  </div>
  </div>
  <div class="list w-1/2 bg-green-400 h-full relative overflow-scroll">
    <div id="messages" class="flex-col" data-user-id="<%= current_user.id %>">
      <% @room.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
      <div class="absolute bottom-0">
        <%= render 'messages/form', message: Message.new, room: @room %>
      </div>
    
  </div> 
</div>