<div class="w-1/2 mx-auto text-2xl">
  <ul id="tabs" class="inline-flex w-full px-1 pt-2">
    <li class="flex px-4 py-2 -mb-px font-black text-yellow-600 rounded-t opacity-95"><a
        id="default-tab"><%= link_to '新增任務' , new_task_path %></a></li>
    <li class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95"><%= link_to '發佈任務' , lists_path %></li>
    <li class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95"><%= link_to '接下任務' , works_path %></li>
    <li class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95 border-b-4 border-yellow-900"><%= link_to '聊天室' , rooms_path %></li>
  </ul>
</div>

<div class="border bg-yellow-50">
  <div class="flex text-3xl">
    Hello,<%= current_user.name %>
  </div>
  <div class="flex">
    <div class="w-1/5 pb-6 md:block bg-yellow-200">
      <div class="px-4 mb-2 text-2xl ">發布任務的聊天室</div>
          <span class="pr-1 ">
            <% @rooms.each do |room| %>
              <% if room.task.user_id == current_user.id %>
              <%= link_to room.task.store_name, room_path(room), :method => :get ,
              class: 'bg-green-100 w-full inline-block text-center text-3xl border-double border-4 border-light-blue-500' %>
              <% end %>
            <% end %>
          </span>
      </div>

    <div class="w-1/5 pb-6 contents md:block bg-yellow-300">
      <div class="px-4 mb-2 text-2xl">接任務的專屬聊天室</div>
        <span class="pr-1 text-grey-light">
          <% @rooms.each do |room| %>
            <% if room.task.employee_id == current_user.id %>
            <%= link_to room.task.store_name, room_path(@room), :method => :get ,
            class: 'bg-green-100 w-full inline-block text-center text-3xl border-double border-4 border-light-blue-500' %>
            <% end %>
          <% end %>
        </span>
      </div>

       <div class="w-3/5 pb-6 md:block">
        <span class=" text-yellow-900">
          <div id="messages" class="flex-col flex chat_scroll overflow-auto" data-room-id="<%= @room.id %>" data-user-id="<%= current_user.id %>">
              <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
              <% end %>
          </div>
        </span>
      <div class="chat_btn text-2xl">
        請先點選聊天室才能對話喔
      </div>
  </div>
</div>
