<section class="chat-rooms-container">
  <div class="chat-rooms-head">
    <h2 class="chat-rooms-title">Chat Rooms</h2>
    <h3 class="chat-rooms-subtitle">聊天室</h3>
  </div>
  <div class="chat-rooms-box"> 
    <div class="chat-rooms-sidebar">
      <ul class="sidebar-list">
        <li class="sidebar-item">
          <%= link_to new_task_path do %>
            <i class="far fa-plus-square chat-room-icon"></i>新增任務
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to mytasks_tasks_path do %>
            <i class="fas fa-tasks chat-room-icon"></i>您發佈的任務
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to myworks_tasks_path do %>
            <i class="fas fa-shoe-prints chat-room-icon"></i>您接下的任務
          <% end %>
        </li>
      </ul>
    </div>
    <div class="chat-rooms-content">
      <div class="chat-rooms-role">
        <button class="role-btn employee-btn role-btn-active"><i class="fas fa-running"></i>聯絡排隊員</button>
        <button class="role-btn employer-btn"><i class="fas fa-user-tie"></i>聯絡雇主</button>
      </div>
      <div class="chat-rooms-info">
        <ul class="employee-rooms">
          <% @rooms.each do |room| %>
            <% if user_room_list(room) %>
              <li class="rooms">
                <%= link_to room_path(room), :method => :get do%>
                  <span class="text-2xl"><%= "#{room.task.user.name}"%></span>
                  商店:<%= "#{room.task.store_name}"%><br>
                  <%= "#{room.task.address}"%>
                  <small><%= "#{room.task.task_at&.strftime('開始日:20%y.%m.%d')}"%></small>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="employer-rooms hidden">
          <% @rooms.each do |room| %>
            <% if row_leg_room_list(room) %>
              <li class="rooms">
                <%= link_to room_path(room), :method => :get do%>
                  <span class="text-2xl"><%= "#{room.task.user.name}"%></span>
                  商店:<%= "#{room.task.store_name}"%><br>
                  <%= "#{room.task.address}"%>
                  <small><%= "#{room.task.task_at&.strftime('開始日:20%y.%m.%d')}"%></small>
                <% end%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- 第一區塊 招呼語 -->
<!-- <section class="">
  <div class="">
    <p class="">
      聊天室
    </p>
      <i class=" fas fa-undo font-semibold text-red-800"><%= link_to tasks_path do %>返回<% end %></i>
    <div class=""> -->
      <!-- 第二區塊 發布任務的聊天室 設計有高度有限 超過捲軸-->
      <!-- <section class="">
          <div class="">
            <i class="fas fa-user-tie"></i>
          </div>
          <div class="">
            <div class="">
              <% @rooms.each do |room| %>
                <div class="">
                  <% if user_room_list(room) %>
                  <div class="">
                    <%= link_to "#{room.task.store_name}", room_path(room), :method => :get, class: 'text-left text-2xl m-px hover:opacity-60 p-2'%>
                  </div>
                  <div class="">
                    <%= "#{room.task.task_at&.strftime('日期:%m月%d號  時間:%H點%M分')}"%>
                  </div>
                <% end %>
                </div>
              <% end %>
            </div>
          </div>
      </section>
      <div class="">
      </div> -->
      <!-- 第三區塊 接受的任務 -->
      <!-- <section class="">
        <div class="">
          <i class="fas fa-walking"></i>
        </div>
        <div class="">
          <div class="">
            <% @rooms.each do |room| %>
              <div class="">
                <% if row_leg_room_list(room) %>
                  <div class="">
                    <%= link_to "#{room.task.store_name}", room_path(room), :method => :get, class: 'text-left text-2xl m-px hover:opacity-60 p-2'%>
                  </div>
                  <div class="">
                    <%= "#{room.task.task_at&.strftime('日期:%m月%d號  時間:%H點%M分')}"%>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section> -->