<div class="text-3xl">
  Hello,<%= current_user.name %>
</div>
<div class="chat_box w-full flex border-2 border-yellow-500">
  <div class="chat_inside flex-col w-1/4 border-2 border-yellow-500 overflow-auto">
    <div class="w-full bg-red-500 text-3xl">
      您發布任務的專屬聊天室
    </div>
    <div>
      <% @rooms.each do |room| %> 
        <% if room.task.user_id == current_user.id %>
        <div class="bg-green-100">          
          <h3><%= link_to room.name, room_path(room) %></h3>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="chat_inside list w-1/4 border-2 border-yellow-500  overflow-auto">
    <div class="w-full bg-yellow-200 text-3xl">
      您所接任務的專屬聊天室
    </div>
  
  </div>
  <div class="chat_inside w-1/2 border-2 border-yellow-500">
    <div id="messages" class="flex-col chat_scroll overflow-auto" data-room-id="<%= @room.id %>" data-user-id="<%= current_user.id %>">
      <% @room.messages.each do |message| %>
        <%= render 'messages/message', message: message %> 
      <% end %>
    </div>
    <hr>
      <div class="bg-yellow-200">
        <%= render 'messages/form', message: Message.new, room: @room %>
      </div>
    
  </div> 
</div>