<!-- 第一區塊 招呼語 -->
<section class="hidden lg:flex">
  <div class="m-auto w-9/12">
    <p class="fas fa-comments p-1 text-3xl">
      聊天室
    </p>
      <i class="fas fa-user-tie">雇主</i>
      <i class="fas fa-walking">員工</i>
      <i class=" fas fa-undo font-semibold text-red-800"><%= link_to tasks_path do %>返回<% end %></i>
    <div class="flex">
      <!-- 第二區塊 發布任務的聊天室 設計有高度有限 超過捲軸-->
      <section class="w-1/2 mt-4 h-80 rounded-lg p-1 text-3xl text-center border border-yellow-700">
          <div class="h-1/6">
            <i class="fas fa-user-tie"></i>
          </div>
          <div class="h-5/6 overflow-scroll">
            <div class="flex-row">
              <% @rooms.each do |room| %>
                <div class="flex w-full items-end m-1">
                  <% if user_room_list(room) %>
                  <div class="rounded-full bg-yellow-300">
                    <%= link_to "#{room.task.store_name}", room_path(room), :method => :get, class: 'text-left text-2xl m-px hover:opacity-60 p-2'%>
                  </div>
                  <div class="text-base rounded-full bg-red-500 p-1 ml-1">
                    <%= "#{room.task.task_at&.strftime('日期:%m月%d號  時間:%H點%M分')}"%>
                  </div>
                <% end %>
                </div>
              <% end %>
            </div>
          </div>
      </section>
      <div class="w-1/12">
      </div>
      <!-- 第三區塊 接受的任務 -->
      <section class="w-1/2 mt-4 h-80 rounded-lg p-1 text-3xl text-center border border-yellow-700">
        <div class="h-1/6">
          <i class="fas fa-walking"></i>
        </div>
        <div class="h-5/6 overflow-scroll">
          <div class="flex-row">
            <% @rooms.each do |room| %>
              <div class="flex w-full items-end m-1">
                <% if row_leg_room_list(room) %>
                  <div class="rounded-full bg-indigo-300">
                    <%= link_to "#{room.task.store_name}", room_path(room), :method => :get, class: 'text-left text-2xl m-px hover:opacity-60 p-2'%>
                  </div>
                  <div class="text-base rounded-full bg-red-500 p-1 ml-1">
                    <%= "#{room.task.task_at&.strftime('日期:%m月%d號  時間:%H點%M分')}"%>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="lg:hidden flex">
  <div class="m-auto w-9/12">
    <p class="p-1 text-3xl">
      聊天室
    </p>
    <p>
      雇主 <i class="fas fa-user-tie"></i>
      員工 <i class="fas fa-walking"></i>
    </p>
    <div class="flex flex-col">
      <!-- 第二區塊 發布任務的聊天室 設計有高度有限 超過捲軸-->
      <section class="mt-4 rounded-lg p-1 text-3xl text-center border border-yellow-700">
          <p><i class="fas fa-user-tie"></i></p>
          <div class="h-80 overflow-scroll roomlist">
            <div class="flex flex-wrap">
              <% @rooms.each do |room| %>
                <% if user_room_list(room) %>
                  <%= link_to "地點:#{room.task.store_name} #{room.task.task_at&.strftime('-日期%m/%d-%H:%M')}", room_path(room), :method => :get, class: 'w-full text-center text-2xl m-px hover:opacity-60 bg-yellow-100' %>
                <% end %>
              <% end %>
            </div>
          </div>
      </section>
      <div class="w-1/12">
      </div>
      <!-- 第三區塊 接受的任務 -->
      <section class="mt-4 rounded-lg p-1 text-3xl text-center border border-yellow-700">
          <p><i class="fas fa-walking"></i></p>
          <div class="h-80 overflow-scroll roomlist">
            <div class="flex flex-wrap">
              <% @rooms.each do |room| %>
                <% if row_leg_room_list(room) %>
                  <%= link_to "地點:#{room.task.store_name} #{room.task.task_at&.strftime('-日期%m/%d-%H:%M')}", room_path(room), :method => :get, class: 'w-full text-center text-2xl m-px hover:opacity-60 bg-red-100' %>
                <% end %>
              <% end %>
            </div>
          </div>
      </section>
    </div>
  </div>
</section>
