<div class="text-3xl">
  Hello,<%= current_user.name %>
</div>
<div class="chat_box w-full flex ">
  <div class="chat_inside flex-col w-1/4 overflow-auto">
    <div class="w-full bg-gray-300 text-3xl text-center rounded-t-lg">
      您發布任務的專屬聊天室
    </div>
    <div>
      <% @rooms.each do |room| %> 
        <% if room.task.user_id == current_user.id %>
        <div class="bg-green-100 text-center text-3xl border-double border-4 border-light-blue-500">          
          <%= link_to room.name, room_path(room) %>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="w-full bg-gray-300 text-3xl text-center rounded-b-lg">
      您發布任務的專屬聊天室
    </div>
  </div>
  <div class="chat_inside list w-1/4 overflow-auto">
    <div class="w-full bg-gray-500 text-3xl text-center rounded-t-lg">
      您所接任務的專屬聊天室
    </div>
    <div class="bg-green-300 text-center border-double border-4 border-light-blue-500">          
      <h3>假的 功能還沒做</h3>
      </div>
    <div class="w-full bg-gray-500 text-3xl text-center rounded-b-lg">
      您所接任務的專屬聊天室
    </div>
  
  </div>
  <div class="chat_inside w-1/2">
    <div id="messages" class="flex-col chat_scroll overflow-auto" data-room-id="<%= @room.id %>" data-user-id="<%= current_user.id %>">
      <% @room.messages.each do |message| %>
        <%= render 'messages/message', message: message %> 
      <% end %>
    </div>
    <hr>
      <div class="chat_btn">
        <%= render 'messages/form', message: Message.new, room: @room %>
      </div>
    
  </div> 
</div>