<section class="max-w-7xl mx-auto mb-32">
  <div class='chat-rooms-title'>
    <h2>Chat Rooms</h2>
    <h3 class='text-4xl text-orange-darker'>聊天室</h3>
  </div>
  <div class="flex"> 
    <div class='pt-14 pb-28'>
      <ul>
        <li class='mb-4 font-semibold'>
          <%= link_to new_task_path do %>
            <i class="far fa-plus-square chat-room-icon"></i>新增任務
          <% end %>
        </li>
        <li class='mb-4 font-semibold'>
          <%= link_to mytasks_tasks_path do %>
            <i class="fas fa-tasks chat-room-icon"></i>您發佈的任務
          <% end %>
        </li>
        <li class='mb-4 font-semibold'>
          <%= link_to myworks_tasks_path do %>
            <i class="fas fa-shoe-prints chat-room-icon"></i>您接下的任務
          <% end %>
        </li>
      </ul>
    </div>
    <div class='pl-7'>
      <div class='my-4 text-3xl'>
        <button><i class="fas fa-running"></i>聯絡排隊員</button>
        <button><i class="fas fa-user-tie"></i>聯絡雇主</button>
      </div>
      <hr>
      <div class=''>
        <ul>
          <% @rooms.each do |room| %>
            <% if user_room_list(room) %>
              <li>
                <%= link_to room_path(room), :method => :get do%>
                  <%= "#{room.task.user.name}"%>
                  <%= "#{room.task.store_name}"%>
                  <span><%= "#{room.task.task_at&.strftime('日期:%m月%d號  時間:%H點%M分')}"%></span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="hidden">
          <% @rooms.each do |room| %>
            <% if row_leg_room_list(room) %>
              <li>
                <%= link_to room_path(room), :method => :get do%>
                  <%= "#{room.task.user.name}"%>
                  <%= "#{room.task.store_name}"%>
                  <span><%= "#{room.task.task_at&.strftime('日期:%m月%d號  時間:%H點%M分')}"%></span>
                <% end%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- 第一區塊 招呼語 -->
<!-- <section class="">
  <div class="">
    <p class="">
      聊天室
    </p>
      <i class=" fas fa-undo font-semibold text-red-800"><%= link_to tasks_path do %>返回<% end %></i>
    <div class=""> -->
      <!-- 第二區塊 發布任務的聊天室 設計有高度有限 超過捲軸-->
      <!-- <section class="">
          <div class="">
            <i class="fas fa-user-tie"></i>
          </div>
          <div class="">
            <div class="">
              <% @rooms.each do |room| %>
                <div class="">
                  <% if user_room_list(room) %>
                  <div class="">
                    <%= link_to "#{room.task.store_name}", room_path(room), :method => :get, class: 'text-left text-2xl m-px hover:opacity-60 p-2'%>
                  </div>
                  <div class="">
                    <%= "#{room.task.task_at&.strftime('日期:%m月%d號  時間:%H點%M分')}"%>
                  </div>
                <% end %>
                </div>
              <% end %>
            </div>
          </div>
      </section>
      <div class="">
      </div> -->
      <!-- 第三區塊 接受的任務 -->
      <!-- <section class="">
        <div class="">
          <i class="fas fa-walking"></i>
        </div>
        <div class="">
          <div class="">
            <% @rooms.each do |room| %>
              <div class="">
                <% if row_leg_room_list(room) %>
                  <div class="">
                    <%= link_to "#{room.task.store_name}", room_path(room), :method => :get, class: 'text-left text-2xl m-px hover:opacity-60 p-2'%>
                  </div>
                  <div class="">
                    <%= "#{room.task.task_at&.strftime('日期:%m月%d號  時間:%H點%M分')}"%>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section> -->