<div class="w-1/2 mx-auto text-2xl">
  <ul id="tabs" class="inline-flex w-full px-1 pt-2">
    <li class="flex px-4 py-2 -mb-px font-black text-yellow-600 border-b-4 border-yellow-900 rounded-t opacity-95"><a
        id="default-tab"><%= link_to '新增任務' , new_task_path %></a></li>
    <li class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95"><%= link_to '發佈任務' , lists_path %></li>
    <li class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95"><%= link_to '接下任務' , works_path %></li>
    <li class="px-4 py-2 font-black text-yellow-600 rounded-t opacity-95"><%= link_to '聊天室' , rooms_path %></li>
  </ul>
</div>

<div class="text-3xl" data-controller="chat" >
  Hello,<%= current_user.name %>
</div>
<div class="chat_box w-full flex ">
  <div class="chat_inside flex-col w-1/4 overflow-auto">
    <div class="w-full bg-gray-300 text-3xl text-center rounded-t-lg">
      您發布任務的專屬聊天室
    </div>
    <div>
      <% @rooms.each do |room| %>
        <% if room.task.user_id == current_user.id %>
          <%= link_to room.task.store_name, room_path(room), :method => :get ,
          class: 'bg-green-100 w-full inline-block text-center text-3xl border-double border-4 border-light-blue-500' %>
        <% end %>
      <% end %>
    </div>
    <div class="w-full bg-gray-300 text-3xl text-center rounded-b-lg">
      您發布任務的專屬聊天室
    </div>
  </div>
  <div class="chat_inside list w-1/4 overflow-auto">
    <div class="w-full bg-gray-500 text-3xl text-center rounded-t-lg">
      您所接任務的專屬聊天室
    </div>
    <div>
      <% @rooms.each do |room| %>
        <% if room.task.employee_id == current_user.id %>
          <%= link_to room.task.store_name, room_path(room), :method => :get ,
          class: 'bg-green-100 w-full inline-block text-center text-3xl border-double border-4 border-light-blue-500' %>
        <% end %>
      <% end %>
    </div>
    <div class="w-full bg-gray-500 text-3xl text-center rounded-b-lg">
      您所接任務的專屬聊天室
    </div>
  </div>
  <div class="chat_inside w-1/2">
    <div id="messages" class="flex-col chat_scroll overflow-auto" data-room-id="<%= @room.id %>" data-user-id="<%= current_user.id %>">
      這邊可能會放一張圖或其他
      <% @room.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
    <hr>
      <div class="chat_btn">
        請先點選聊天室才能對話喔
      </div>
  </div>
</div>
