<% if @room.task.employee == nil%>
  <div class="room-no-employee">
    <p>尚未有人應徵，聊天室功能未開啟</p>
    <%= link_to "點我返回", rooms_path, class: 'inline-block text-center text-3xl hover:opacity-60 rounded-md mt-5' %>
  </div>
<% else %>
<section class="room-show-container">
  <div data-controller="chat" class="room-show-main">
    <div class="room-task-info">
      <h3 class="room-task-title">Chat Room</h3>
      <h4 class="room-task-subtitle" id="<%= @room.user.count %>">聊天室</h4>
      <p class="room-task-desc">此聊天室的任務資訊</p>
      <p ><i class="fas fa-store fa-fw"></i>：<%= @room.task.store_name %></p>
      <p><i class="fas fa-map-marker-alt fa-fw"></i>：<%= @room.task.address %></p>
      <p><i class="fas fa-coins fa-fw"></i>：<%= @room.task.reward %></p>
      <% if user_room %>
        <p class="room-task-time">請於<span><%= @room.task.task_end&.strftime('%m/%d %H:%M') %></span>前與排隊員交接</p>
        <button id="open-audio" class="audio-close">開啟對方傳訊提醒</button>
      <% end %>
      <% if employee_room %>
        <p class="room-task-time">請於<span><%= @room.task.task_at&.strftime('%m/%d %H:%M') %></span>前到達任務目的地</p>
        <button id="open-audio" class="audio-close">開啟對方傳訊提醒</button>
      <% end %>
    </div>
    <div class="room-show-content">
      <div class="messages-head">
        <%= link_to rooms_path,id:"leave", class: "mobile-back-to-chat", method: 'get' do %>
          <i class="fas fa-angle-left"></i>
        <% end %>
        <% if user_room %>
          <p id="join-or-leave">排隊員:<%= @room.task.employee.name%></p>
        <% end %>
        <% if employee_room %>
          <p id="join-or-leave">雇主:<%= @room.task.user.name %></p>
        <% end %>
        <%= link_to rooms_path, class: "back-to-chat" do %>
          <i class="fas fa-undo"></i>返回
        <% end %>
      </div>
      <div class="messages-main" id="messages" data-room-id="<%= @room.id %>" data-user-id="<%= current_user.id %>">
          <% @room.messages.includes([:user]).each do |message| %>
            <%= render 'messages/message', message: message, current_user: current_user %>
          <% end %>
      </div>
      <div class="messages-footer">
        <div>
          <%= render 'messages/form', message: Message.new, room: @room %>
        </div>
        <small class="typing_tip">
          對方無打字
        </small>
      </div>
    </div>
  </div>
</section>
<% end %>

<div id="set-audio">

</div>
