<!DOCTYPE html>
<html>
  <head>
    <title>GemYarnInit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkZCwD7ODJAaUlHw4NPzY6i8cEKSlOndQ&callback">
  </script>
  </head>
  <body>
    <%= render "shared/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
